.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f2c064;
}

.correct-answer {
  background: #2d63a6;
}

.incorrect-answer {
  background: #ee5151;
}

.bird-list {
  width: 50%;
  font-size: 25px;
  padding: 0px !important;
  border: 1px solid #f2c064;
}

.bird-element {
  height: 16.666%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2c064;
  padding: 10px 0;
  padding-left: 20px;
  cursor: pointer;
  color: white;
}

.bird-element:hover {
  background: #073660;
}

.bird-element:last-child {
  border-bottom: none;
}

.bird-element:first-child {
  padding-top: 10px;
}

.bird-element div {
  margin-right: 25px;
}

.bird-list ul {
  margin: 0 !important;
}

.birds-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.bird-info {
  width: 49%;
  padding: 1rem 1rem !important;
}

.bird-description img{
  max-width: 200px;
  max-height: 155px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px;
}

.bird-description {
  display: flex;
  justify-content: space-around;
}

.bird-body li:first-child {
  font-size: 25px;
}

.bird-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.bird-body li:first-child {
  border-bottom: 1px solid #f2c064;
}

.next-lvl {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #f2c064;
  border-radius: 0.3rem;
  margin-bottom: 20px;
  color: white;
}

.next-lvl p {
  margin: 15px 0 !important;
}

.correct-answer-next-lvl {
  background-color: #2d63a6;
  color: white;
}

.hide {
  display: none;
}

.bird-list ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bird-description-container {
  color: white;
}

.bird-description-info {
  color: white;
}

@media (max-width: 1200px) {
  .bird-description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .bird-info-audio-player {
    width: 240px;
    min-width: 240px;
  }
  .bird-description-info {
    font-size: 15px;
  }
  .rhap_container {
    min-width: 240px;
  }
}

@media (max-width: 560px) {
  .birds-content-wrapper {
    flex-direction: column;
  }
  .bird-list, .bird-info {
    width: 100%;
  }
  .bird-info-audio-player {
    width: 260px;
  }
  .rhap_container {
    min-width: 260px;
  }
}
