header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.text-primary {
  font-size: 30px;
  font-weight: bold;
}

.question-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  background-color: #2a8247;
  color: black;
}

.question-items li {
  padding: 10px 30px;
}

.question-items .active {
  background-color: #dce5e0;
}

.score {
  color: white;
}

@media (max-width: 995px)  {
  .question-items {
    flex-direction: column;
    text-align: center;
  }
}


@media (max-width: 500px)  {
  .logo img {
    width: 200px;
  }
  .score {
    font-size: 25px;
  }
}

@media (max-width: 335px)  {
  .score {
    font-size: 20px;
  }
}
