.bird-question {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.bird-question p {
  border-bottom: 1px solid white;
  color: white;
}

audio {
  outline: none;
}

.bird-question img {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px;
}

@media (max-width: 770px) {
  .bird-question img {
    max-width: 200px;
    max-height: 150px;
  }
}

@media (max-width: 550px) {
  .bird-question img {
    max-width: 150px;
  }
  .bird-question p {
    font-size: 25px;
  }
  .audio-player {
    width: 215px;
    min-width: 255px;
  }
}

@media (max-width: 440px) {
  .bird-question {
    flex-direction: column;
    align-items: center;
  }
  .audio-player {
    width: 255px;
    min-width: 255px;
  }
}


.rhap_container {
  background-color: inherit;
  box-shadow: none;
}

.rhap_time {
  color: white;
}
